form{
  max-width: 960px;
  margin: 0 auto;
}
form input{
  display: block;
  padding: 10px;
  background-color: black;
  margin: 0 auto;
  color: white;
}
label{
  display: block;
  text-align: center;
}
input[type='radio']{
  display: block;
  margin: 0 auto;
}
input[type='checkbox']{
  display: block;
  margin: 0 auto;
}
select{
  display: block;
  margin: 0 auto;
}
button{
  display: block;
  margin: 0 auto;
}
::placeholder{
  color: white;
}
