* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plane-normal", sans-serif;
  font-weight: 100;
}
@font-face {
  font-family: "Plane-normal";
  src: url("./fonts/Planewalker.otf");
}
@font-face {
  font-family: "Plane-bold";
  src: url('/fonts/Planewalker-Bold.otf');
}
/*NAVBAR STYLING*/

.navbar {
  width: 100%;
  list-style: none;
  padding: 20px;
  background: linear-gradient(to bottom, #232526, #414345);
  overflow: auto;
}
.navimage {
  height: 50px;
  width: 150px;
  /*background-image: url('./images/deckedout.png');*/
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255, 0);
  float: right;
}
.navlinks {
  padding: 15px;
  color: whitesmoke;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-decoration: none;
  float: left;
  width: 100px;
  height: 50px;
  margin: auto 3px;
  text-align: center;
  margin-top: 30px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.navlinks:hover {
  background-color: #72C8C8;
  color: black;
  border: 1px solid black;
}

/*BUTTON STYLING*/

.red {
  width: 20%;
  height: 40px;
  background-image: url('images/red.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #F7AA91;
}
.white {
  width: 20%;
  height: 40px;
  background-image: url('images/white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFFAD7;
}
.blue {
  width: 20%;
  height: 40px;
  background-image: url('images/blue.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ACE0F9;
}
.black {
  width: 20%;
  height: 40px;
  background-image: url('images/black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #CBC2BF;
}
.green {
  width: 20%;
  height: 40px;
  background-image: url('images/green.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #9CD2AF;
}
.button-form button {
  border-radius: 0px;
  border: 1px solid black;
  box-shadow: 0;
  transition: all .2 ease-in-out;
}
.button-form button:hover {
  box-shadow: inset 0px 5px 3px -3px rgba(57, 59, 60, .8);
  cursor: pointer;
}

/*CARD STYLING*/
.card-art{
  width: 25%;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
.card-image{
  transform: scale(1);
  transition: all .2s ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}
.card-image:hover{
  box-shadow: 3px 3px 8px 3px #afafaf;
  transform: scale(1.1);
}
.card-box{
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  overflow: scroll;
}

.card-title::after,
.card-title::before {
  content: "";
  height: 5px;
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  margin: 10px;
  background: #000;
}

.addedHeading {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Plane-Normal", sans-serif;
  font-weight: 700;
  margin-top: 10px;
  color: #3da047;
}

/* SPLASH STYLING */

.splash {
  background-image: url('./images/mtgbanner.jpg');
  background-position: center center;
  background-size: cover;
  height: 90vh;
  position: relative;
  font-family: 'Plane-bold', sans-serif;
}
.splash-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  text-align: center;
}
