/* GENERAL STYLING BISH */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* NAVBAR STYLINGS OKAY */

nav {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
}

.logo {
  float: left;
}

ul {
  list-style: none;
  float: right;
}
li {
  display: inline-block;
  margin: 5px;
}

/* HEADER STYLING OKAY */

.headerimage {
  background-image: url('./images/banner.jpeg');
  height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
